.el-button--primary {
  border-color: #308af4;
  background-color: #308af4;
  &:hover,
  &:focus {
    border-color: rgba(#308af4, 0.95);
    background-color: rgba(#308af4, 0.95);
  }
  &.is-plain {
    border-color: #308af4;
    background-color: #fff;
    color: #308af4;
    &:hover,
    &:focus {
      color: #308af4;
      background-color: rgba(#308af4, 0.04);
    }
  }
}
.el-button.active {
  color: $theme-color;
  border-color: currentColor;
}

.el-button--small {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 0;
}

.el-button--text {
  padding-left: 0;
  padding-right: 0;
}

.el-tooltip__popper.is-dark {
  padding: 8px 12px;
  border: 1px solid rgba(9, 40, 86, 0.8);
  line-height: 2;
  background: rgba(9, 40, 86, 0.8);
  max-width: 300px;
  &.auto-width {
    max-width: initial;
  }
  &.pad-small {
    padding: 10px;
  }
  &.simple-tip {
    padding: 5px;
  }
  &.no-pad {
    padding: 0;
  }
}

.el-input__icon {
  line-height: 32px;
}

.el-switch.is-checked .el-switch__core {
  border-color: rgb(19, 206, 102);
  background-color: rgb(19, 206, 102);
}
// .el-table--enable-row-hover .el-table__body tr:hover > td
// 表格行hover
.el-table__row:hover > td {
  background-color: #ecf2ff !important;
}

.el-message-box {
  // border-radius: 0;
  // padding: 24px;
  width: 500px;
  height: 212px;
  &.auto-height {
    height: auto;
  }
  &.show-msg {
    height: 281px;
    padding: 0;
    .el-message-box__header {
      padding: 16px 24px;
      border-bottom: 1px solid #ebedf2;
    }
    .el-message-box__headerbtn {
      top: 16px;
    }
    .el-message-box__content {
      height: 160px;
      padding: 0 24px;
    }
    .el-message-box__btns {
      padding: 14px 24px;
      border-top: 1px solid #ebedf2;
    }
  }
  display: flex;
  flex-direction: column;
  .warn {
    color: #f4516c;
    margin-top: 20px;
  }
  .el-message-box__title {
    padding: 12px 24px 0 24px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
  }
  .el-message-box__header {
    padding: 0 0 16px 0;
    margin-bottom: 32px;
    border-bottom: 1px solid #efefef;
  }
  .el-message-box__headerbtn {
    top: 12px;
    .el-message-box__close {
      color: #000;
    }
  }
  .el-message-box__content {
    padding: 0 24px;
    line-height: 2;
    font-size: 14px;
    flex-wrap: wrap;
    color: #333;
    .el-message-box__status {
      display: none;
      + .el-message-box__message {
        padding-left: 0;
      }
    }
  }
  .el-message-box__btns {
    border-top: 1px solid #efefef;
    margin-top: auto;
    padding-right: 24px;
    .el-button--default {
      border: none;
    }
    .el-button {
      text-align: center;
      font-size: 14px;
    }
  }
}

// 鸽鸽鸽鸽鸽鸽鸽鸽鸽鸽鸽鸽-以下将逐渐删除

.el-message {
  padding-top: 10px;
  padding-bottom: 10px;
}

.el-message--warning,
.el-message--error,
.el-message--success {
  .el-message__content {
    color: #333;
  }
}
.el-message__closeBtn {
  color: inherit;
}

.el-pagination.is-background {
  .el-pager li {
    background-color: #fff;
  }
  .el-pager li:not(.disabled).active {
    color: $theme-color;
    border: 1px solid currentColor;
    background-color: #fff;
  }
}

.el-aside {
  .el-menu--collapse {
    width: auto;
  }
}

.el-message-box__wrapper::after {
  height: 80% !important;
}

.el-message-box {
  vertical-align: middle;
}

.el-card__body {
  padding: 0;
}

.el-progress-bar__innerText {
  margin: 0 0.5rem 0.5rem 0;
}
.el-transfer-panel {
  width: 3rem;
}

.el-transfer-panel__body {
  height: 3.46rem;
}

.el-table--border::after,
.el-table--group::after,
.el-table::before {
  display: none;
}

.el-table th > .cell.highlight {
  color: inherit;
  .el-table__column-filter-trigger i {
    color: $theme-color;
  }
}

.el-form label {
  margin-bottom: 0 !important;
}

//下拉菜单
.el-dropdown {
  cursor: pointer;
}

.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: rgba(88, 103, 221, 0.1) !important;
  color: $theme-color !important;
}

// 修改message-box的默认样式
.el-message-box__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  .el-message-box {
    .el-input {
      width: 50%;
    }
    .el-input__inner {
      height: 36px;
      line-height: 36px;
      font-size: 12px;
    }
  }
}
.app .el-dialog__body {
  max-height: 480px;
  min-height: 400px;
  overflow: auto;
  padding: 24px;
  box-sizing: border-box;
  margin-right: 8px;
  .el-pagination {
    padding: 0;
  }
}
.message-box-dialog {
  .el-dialog__body {
    padding: 24px;
    height: auto;
    max-height: initial;
    min-height: initial;
  }
}

.no-footer {
  .el-dialog__body {
    max-height: 630px;
  }
}

.el-dialog.custom-padding {
  .el-dialog__body {
    padding-top: 0;
  }
}
.el-dialog__wrapper.flexible {
  .el-dialog__body {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
  }
}

.el-dialog__header {
  border-bottom: 1px solid #ebedf2;
  padding: 12px 24px;
  line-height: 25px;
}

.el-dialog__footer {
  border-top: 1px solid #ebedf2;
  padding: 10px 24px;
  line-height: 1;
}

.el-dialog__headerbtn {
  top: 21px;
  right: 24px;
  .el-dialog__close {
    color: #000;
  }
}

.el-autocomplete-suggestion__wrap {
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 6px 4px rgba(35, 107, 255, 0.06);
  border-radius: 4px;
  color: #fff;
}

.el-autocomplete-suggestion {
  &.light {
    .el-autocomplete-suggestion__wrap {
      background: #fff;
      color: #333;
    }
    li:hover {
      background: rgba($theme-color, 0.2);
    }
  }
  .popper__arrow {
    display: none;
  }
  li {
    color: inherit;
    &:hover {
      background: #000;
    }
    &:first-child {
      .border-top {
        border-top: none;
      }
    }
  }
}

.el-dialog__header {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}

.el-checkbox__input.is-disabled + span.el-checkbox__label {
  color: inherit;
}

.app-root .el-button--small.is-plain {
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
}

.el-carousel__arrow {
  font-size: 20px;
  width: 36px;
  height: 54px;
  border-radius: 0;
  background: #999;
  box-shadow: 0px 2px 16px 0px rgba(23, 123, 246, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }
}

.el-select-dropdown {
  &.no-arrow {
    .popper__arrow {
      display: none;
    }
  }
  &.dark {
    background: rgba(46, 48, 51, 0.96);
    box-shadow: 0px 2px 16px 0px rgba(23, 123, 246, 0.08);
    margin-top: 20px;
    .el-select-dropdown__item {
      color: #fff;
      height: 44px;
      line-height: 44px;
      &.selected {
        color: $theme-color;
      }
      &.hover {
        background: rgba(#000, 0.1);
      }
    }
  }
  &.custom-tpl {
    .el-select-dropdown__item {
      height: auto;
      line-height: 1.4;
    }
  }
}

.el-badge__content {
  background-color: $error-color;
}

.el-tabs__item {
  color: #666;
}
.el-icon-close:before {
  font-weight: bold;
  color: #666;
}

.el-input-number__increase,
.el-input-number__decrease {
  background-color: #fff;
}

.el-input--small {
  .el-input-group__prepend {
    line-height: 30px;
  }
}

.el-dialog__wrapper {
  overflow: hidden;
}

.el-select__caret.el-icon-arrow-up {
  font-family: iconfont, 'sans-serif' !important;
  &:before {
    content: '\e6c1';
    line-height: 32px;
  }
}
.el-select .el-input .el-select__caret {
  transform: rotate(0);
  font-size: 18px;
  &.is-reverse {
    transform: rotate(180deg);
  }
}
.el-checkbox {
  font-weight: normal;
}

.el-input__prefix {
  left: 12px;
}

// .el-input--suffix {
.el-input--prefix {
  .el-input__inner {
    padding-left: 34px;
  }
}

.el-input__inner {
  padding: 0 12px;
}

.shadow .el-dialog {
  box-shadow: 0px 0px 60px 20px rgba(214, 214, 214, 0.3);
}

.el-tabs.el-tabs--card {
  .el-tabs__header.is-top {
    display: inline-block;
  }
  .el-tabs__item {
    background: rgba(192, 197, 204, 0.1);
    border-radius: 2px 2px 0px 0px;
    border: 1px solid rgba(192, 197, 204, 1);
    margin-right: 2px;
    &.is-active {
      background: #fff;
    }
  }
  .el-tabs__content {
    padding-top: 16px;
  }
  .el-tabs__header {
    .el-tabs__nav {
      border: none;
    }
    .el-tabs__item {
      border: 1px solid #c0c5cc;
      &:first-child {
        border-left: 1px solid #c0c5cc;
      }
      &.is-active {
        border-bottom: none;
      }
    }
  }
}

.el-icon-date {
  font-family: iconfont, 'sans-serif' !important;
  font-size: 17px;
  line-height: 26px;
  color: #999;
  margin-right: 8px;
  &::before {
    content: '\E679';
  }
}

.el-date-editor {
  &.el-input--prefix .el-input__inner {
    padding-left: 38px;
  }
}

.el-input.long-input {
  width: 240px;
}

.el-collapse-item__header {
  background: rgba(0, 0, 0, 0.03);
  padding: 0 24px;
  border-bottom: none;
  font-size: 18px;
}

.el-table {
  &.responsive-table,
  &.r-table {
    .cell,
    th > .cell {
      white-space: nowrap;
      display: inline-block;
      width: auto;
    }
  }
  &.grid-line {
    tr td {
      border-bottom: 1px solid #e6e6e6;
    }
  }
  .el-table__expanded-cell[class*='cell'] {
    padding-left: 0;
    padding-right: 0;
  }
  &.flexbox.vertical {
    .el-table__body-wrapper {
      flex: 1;
      overflow: auto;
    }
  }
}

.el-table__expanded-cell {
  .row-detail {
    background-color: #ebedf2;
    padding: 30px;
    padding-top: 20px;
  }
}

.el-collapse-item {
  & + .el-collapse-item {
    margin-top: 1px;
  }
}

.el-form-item__label {
  white-space: nowrap;
}

.el-table__fixed-right::before {
  display: none;
}

.el-select-dropdown.option-with-icon {
  .el-select-dropdown__item {
    height: 40px;
    line-height: 40px;
  }
}

.el-popper.input-option[x-placement^='bottom'] {
  margin-top: 0;
}

.am-list-item {
  line-height: 40px;
  height: 40px;
  padding: 0 16px;
  cursor: pointer;
  &:hover {
    background: rgba($theme-color, 0.2);
  }
}
