/* 改变主题色变量 */
$--color-primary: #308af4;
$--color-success: #4dc600 !default;
$--color-warning: #fcae00 !default;
$--color-danger: #f56c6c !default;
$--color-info: #909399 !default;

$--button-border-radius: 0 !default;
$--button-medium-border-radius: 0 !default;
$--button-small-border-radius: 0 !default;
$--input-border-radius: 0 !default;
// $--radio-input-border-radius: 0 !default;
$--border-color-base: #c0c5cc !default;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';
